# vscode files
**/.vscode


# Temporary files
*.tmp

# Windows files
**/Thumbs.db
.DS_Store
!/**/.DS_Store
!/**/*.exe*

# Files without extension
*
!/**/
!*.*

# Examples Folder
Examples8ed/
Deitel_CH07_Pointers/D7_ejm01_pointerOperators.dSYM/Contents/Info.
*.plist
